/* All */
html {
  /* Geometry */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Geometry */
  box-sizing: inherit;
}

:root {
  /* Color, text */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/* Styles body */
body {
  /* Geometry */
  /* Remove default value margin: 8px; */
  margin: 0;

  /* Color, text */
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* Geometry */
  margin-top: 0;
}

img {
  /* Geometry */
  display: block;
  max-width: 100%;
  height: auto;
}

/* Class-utility .list - removed markers in lists */
.list {
  /* Geometry */
  padding-left: 0;
  margin: 0;

  /* Color, text */
  list-style: none;
}

/* Size container */
.container {
  /* Geometry */
  box-sizing: border-box;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  /* Centering */
  margin: 0 auto;
}

/* Class-utility .link - removed underline in links (in logo) */
.link-decoration a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Classes for header */
/* Site nav */
/* Classes logo */
.logo {
  /* Geometry */
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  /* Color, text */
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  /* Color, text */
  color: #2196f3;
}

/* Styles for background */
.header-page {
  /* Background */
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

/* Flex 5 */
.container-header {
  /* Geometry */
  display: flex;
  align-items: center;
}

/* Styles links in header */
/* Header navigation to pages*/
/* Flex 6 */
.nav-main {
  /* Geometry */
  display: flex;
}

/* Flex 1 */
.nav-ul-site {
  /* Geometry */
  display: flex;
}

/* Flex 2 Add margin. Edge geometry cleaning */
.nav-ul-site .item:not(:last-child) {
  /* Geometry */
  margin-right: 50px;
}

.nav-ul-site .link {
  /* Geometry */
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  /* Color, text */
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-ul-site .link:hover,
.nav-ul-site .link:focus {
  color: var(--accent-color);
}

.nav-ul-site .link.current {
  color: var(--accent-color);
}

/* Header contacts */
/* Flex 3 */
.header-contacts {
  /* Geometry */
  display: flex;
  margin-left: auto;
}

/* Flex 4 */
.header-contacts .item:not(:last-child) {
  /* Geometry */
  margin-right: 30px;
}

.header-contacts .link {
  /* Geometry */
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  /* Color, text */
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* SVG */
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

/* SVG */
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* The Studio page */
/* Styles for title sections Studio */
.saction-title {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 50px;

  /* Color, text */
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Hero section */
/* Backgroung hero-section */
.hero {
  /* Background */
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/studio-hero-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* Geometry */
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Hero section Studio */
.hero-title {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 30px;

  /* Color, text */
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  /* Geometry */
  display: flex;
  width: 216px;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* Rounding */
  border-radius: 4px;
  margin: auto;

  /* Color, text */
  background-color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  /* For title */
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Hang section */
/* Styles of the Hang section */
.hang {
  /* Geometry */
  padding-top: 94px;
}

.hang-list {
  /* Geometry */
  /* Flex 7 */
  display: flex;
}

/* Flex 10 */
.hang-list .item {
  width: 270px;
}

.hang-list .item::before {
  /* Background */
  content: "";
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;

  /* Geometry */
  display: block;
  margin-bottom: 30px;
}

.icon-antenna::before {
  /* Background */
  height: 70px;
  width: 70px;
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  /* Background */
  height: 70px;
  width: 70px;
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  /* Background */
  height: 70px;
  width: 70px;
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  /* Background */
  height: 70px;
  width: 70px;
  background-image: url("../images/astronaut.svg");
}

.hang-list .item:not(:last-child) {
  margin-right: 30px;
}

.hang-list .hang-title {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 10px;

  /* Color, text */
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hang-list p {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 0;

  /* Cplor, text */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What are we doing section */
.we-doing {
  /* Geometry */
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Flex 8 */
.we-doing .list {
  /* Geometry */
  display: flex;
}

/* Geometry */
.we-doing .item {
  display: block;
  width: 370px;
}

/* Geometry */
.we-doing .item:not(:last-child) {
  margin-right: 30px;
}

/* Our Team section */
.our-team {
  /* Background */
  background-color: #f5f4fa;

  /* Geometry */
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Flex 9 */
.our-team .list {
  /* Geometry */
  display: flex;
}

/* Geometry */
.our-team .container-team:not(:last-child) {
  margin-right: 30px;
}

.our-team p {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 16px;

  /* Color, text */
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-names {
  /* Geometry */
  margin-bottom: 10px;

  /* Color, text */
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-team {
  /* Background */
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* Geometry */
  border-radius: 0px 0px 4px 4px;
}

.container-team-div {
  /* Geometry */
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.container-team-div .item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.container-team-div .item:not(:last-child) {
  margin-right: 10px;
}

.container-team-div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* svg */
.icon-social-link {
  width: 20px;
  height: 20px;
}

/* svg */
.icon-instagram {
  width: 20px;
  height: 20px;
}

/* svg */
.icon-twitter {
  width: 20px;
  height: 20px;
}

/* svg */
.icon-facebook {
  width: 20px;
  height: 20px;
}

/* svg */
.icon-linkedin {
  width: 20px;
  height: 20px;
}

/* REGULAR CUSTOMERS */
.regular-customers {
  /* Background */
  background-color: #ffffff;

  /* Geometry */
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Flex */
.regular-customers .list {
  display: flex;
}

.regular-customers .item {
  /* Background */
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* Geometry */
  height: 92px;
  width: 170px;
  /* Outline */
  outline: 2px solid red;
}

.regular-customers .item:not(:last-child) {
  /* Geometry */
  margin-right: 30px;
}

/* svg  */
.icon-logo-company {
  height: 60px;
  width: 106px;
  left: 6px;
  top: 16px;
  border-radius: 0px;
}

/* FOOTER */
.footer-back {
  /* Background */
  background-color: #2f303a;

  /* Geometry */
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  /* Geometry */
  display: block;
  margin-bottom: 20px;

  /* Color, text */
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address-footer .item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.address-footer .link {
  /* Color, text */
  color: #ffffff;
}

.address-footer a {
  /* Color, text */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-footer a:hover,
.address-footer a:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

/* Portfolio page */
/* Hero section Prtfolio */
.portfolio {
  /* Geometry */
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Buttons system */
/* Flex 13 */
.portfolio-list {
  /* Geometry */
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .item-button:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  /* Geometry */
  padding: 6px 22px;
  border: none;

  /* Color, text */
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

/* Flex 11 */
.portfolio .list {
  /* Geometry */
  display: flex;
}

/* Styles for title sections Prtfolio */
.container-title {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 4px;

  /* Color, text */
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Flex 12 */
.container-portfolio {
  /* Geometry */
  flex-wrap: wrap;
}

.container-portfolio .item {
  /* Geometry */
  display: block;
  width: 370px;
}

/* Geometry */
.container-portfolio .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Geometry */
.container-portfolio .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.container-portfolio p {
  /* Geometry */
  margin-top: 0;
  margin-bottom: 0;

  /* Color, text */
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.container-border {
  /* Geometry */
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
